@import "tailwindcss";
@import "./styles/theme.css";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: var(--color-bg-gradient);
  background-attachment: fixed;
  color: var(--color-text-primary);
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
