@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #111238 0%, #070816 100%);
  background-attachment: fixed;
  color: #f3f4f6;
  font-family: "Poppins", sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
